@import url("https://fonts.googleapis.com/css2?family=Teko&family=Kanit&display=swap");

:root {
  --clr-dark: #252c38;
  --clr-lightest: #ebebeb;
  --clr-light: #cacacae9;
  --clr-darkblue: #11274e;
  --clr-blue: #1a3c78;
  --clr-lightblue: #a5bfec;
  --clr-red: #764d4d;
  --clr-darkred: #573939;
  --clr-overlay: #ffffff69;
  --clr-grey: rgba(68, 68, 79, 0.412);

  --color-primary: #ffffff;
  --color-secondary: #2756a6;
  --background: hsl(0, 0%, 100%);
  --text: hsl(310, 100%, 95%);

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.675rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  line-height: calc(1em + 0.5rem);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
  list-style: none;
  color: var(--clr-dark);
}

body {
  color: var(--clr-dark);
  background-color: var(--clr-lightest);
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  line-height: 1.4rem;
  color: var(--clr-dark);
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

.right {
  display: grid;
  justify-content: end;
  text-align: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* `text */

.interactions {
  cursor: pointer;
  padding: 0.5rem;
  box-shadow: 0 3px 5px -5px var(--clr-darkblue);
}

h1 {
  font-size: var(--size-3xl);
  font-variation-settings: "wght" 582;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -2px;
  transition: 700ms ease;
  cursor: pointer;
}

h1:hover {
  font-variation-settings: "wght" 662;
  letter-spacing: -1px;
}

h2 {
  letter-spacing: 0.5px;
  margin: 0 auto;
  text-align: justify;
  cursor: pointer;
  font-size: var(--size-2xl);
  font-weight: 500;
  text-align-last: center;
}

.header-accent {
  color: #1339aedc;
}

.accent {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--clr-blue);
  font-size: var(--size-sm);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.accent-2 {
  font-weight: 600;
  font-size: var(--size-sm);
  color: var(--clr-dark);
  text-transform: lowercase;
}

.accent-3 {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--clr-blue);
  font-size: var(--size-sm);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.container-name {
  text-align: center;
  font-size: var(--size-xl);
}

.msg {
  padding: 0.5rem 0rem;
  margin: 1rem 0rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #0d193c;
  font-style: italic;
  background-color: var(--clr-overlay);
}

.title {
  padding-top: 60px;
  font-size: var(--size-2xl);
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
  font-weight: 700;
}
/* `loading */
.loading {
  font-family: "Montserrat", sans-serif;
  padding: 7rem;
  font-size: var(--size-2xl);
  font-weight: 600;
  letter-spacing: -1px;
  animation: color-change 3.5s infinite;
  font-variation-settings: "wght" 771;
}

@keyframes color-change {
  0% {
    color: rgb(17, 26, 74);
  }
  50% {
    color: rgba(21, 21, 121, 0);
  }
  100% {
    color: rgb(18, 12, 59);
  }
}

/* `header + top `nav bar */
.header {
  width: 100%;
  padding-top: 2rem;
  background-image: linear-gradient(
    90deg,
    var(--clr-darkblue),
    var(--color-secondary)
  );
}

.header-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.top-nav {
  background-image: linear-gradient(
    90deg,
    var(--clr-darkblue),
    var(--color-secondary)
  );
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}

.header-menu span {
  margin-top: 3.5px;
}

.icon-container h1 {
  position: relative;
  font-weight: 500;
}

.icon {
  width: 2rem;
  background-color: #f2f2f289;
  padding: 0.2rem;
  border-radius: 50px;
  margin-bottom: 0.3rem;
}

::selection {
  background-color: var(--color-primary);
  color: var(--background);
  -webkit-text-fill-color: var(--background);
}

.header-container {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    250deg,
    var(--clr-overlay),
    var(--clr-lightblue),
    var(--clr-blue)
  );
  text-shadow: #436ded5c 1px 0 6px;
}

.page-name {
  display: flex;
  font-family: "Work Sans", sans-serif;
  font-size: var(--size-lg);
  font-weight: 400;
  font-variation-settings: "wght" 582;
  letter-spacing: 0px;
  transition: 700ms ease;
  cursor: pointer;
  color: var(--clr-light);
}

.page-name:hover {
  font-variation-settings: "wght" 771;
  letter-spacing: 0px;
  color: var(--clr-lightblue);
}

button.page-name {
  border: none;
  font-weight: bold;
}

button.page-name:hover {
  color: var(--clr-light);
}

/* `buttons */

.btns {
  display: flex;
  background: none;
  color: #3b3b3b;
  font-weight: 600;
  padding: 0.2em 0rem 0.2rem 0rem;
  margin: 0.4em 0em;
  border-width: 0;
  cursor: pointer;
  justify-content: flex-end;
}

button {
  box-shadow: 0 4px 8px -8px #abcbfb80, 0 6px 20px -20px #707b9d;
}

.material-symbols-outlined {
  color: var(--clr-lightblue);
  font-size: var(--size-xl);
  cursor: pointer;
  line-height: calc(1em + 0.5rem);
}

.btns .material-symbols-outlined {
  color: #3e425fbd;
}

.toggle {
  margin: 0 auto;
}

.article-information-2 > button {
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  border: solid #98b9eb80;
  box-shadow: 0 3px 3px 0 #abcbfb80, 0 2px 2px 0 #707b9d;
  color: #11559e;
  font-size: 0.9rem;
}

button.one {
  margin-right: 0.5rem;
}

/* comments */
.comment {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0.5rem auto;
  border-radius: 5px;
  background-color: rgb(250, 251, 252);
  border-color: rgb(223, 225, 230);
  color: var(--clr-darkblue);
  cursor: text;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  padding: 8px 6px;
  height: 36px;
  :hover {
    background-color: rgb(235, 236, 240);
  }
  :focus {
    background-color: rgb(255, 255, 255);
    border-color: rgb(76, 154, 255);
  }
}

.form {
  text-align: center;
}

.form > button,
.login-form > button {
  margin-top: auto;
  background-color: var(--clr-blue);
  border: 1px solid transparent;
  border-radius: 0.75rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  touch-action: manipulation;
  width: auto;
}

.comment-form > button:hover {
  background-color: #374151;
}

.comment-form > button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* login */
form.login-form {
  margin-top: 5px;
}
.login-form {
  position: relative;
  padding: 14px 0 0;
  width: 60%;
  margin: auto;
}

.login-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--clr-blue);
  outline: 0;
  font-size: var(--size-lg);
  color: var(--clr-dark);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .label {
    font-size: var(--size-lg);
    cursor: text;
    top: 20px;
  }
}

.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  font-size: 1rem;
  color: var(--clr-grey);
}

.login-input:focus {
  ~ .label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: var(--size-base);
    color: var(--clr-darkblue);
    font-weight: 600;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--clr-blue), var(--clr-darkblue));
  border-image-slice: 1;
}

.login-form > button {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* modal */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 10;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 5px;
}

.error-msg {
  padding: 1rem;
  text-align: center;
}

.modal-close {
  padding: 0rem 1rem;
  display: flex;
  justify-content: end;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.articles > li {
  max-width: 1200px;
  position: relative;
  z-index: 2;
}

/* `main article card */
.main-container {
  position: relative;
  height: auto;
  overflow: hidden;
  margin-bottom: -120px;
}

.main-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
}

.main-article-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  padding: 2rem;
  margin: 1rem 1rem;
  transform: translateY(-100px);
  background-color: var(--clr-lightest);
}

main .accent {
  font-weight: 600;
}

main .accent,
.accent-2,
.accent-3 {
  font-size: var(--size-base);
}

.article-information {
  display: flex;
  justify-content: space-between;
}

.article-information-2 {
  display: flex;
  justify-content: flex-end;
}

/* `secondary article card */
.secondary-article-card {
  background-color: var(--clr-lightest);
  padding: 1rem 1rem;
  margin: 0.5rem 0rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.secondary-article-card img {
  width: 12rem;
  height: 8rem;
  object-fit: contain;
  margin-right: 2rem;
}

.secondary-article-card .article-title {
  text-align: right;
  font-size: var(--size-lg);
  text-align-last: right;
}

/* `tertiary article card */
.tertiary-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  list-style: none;
  height: 100%;
  gap: 3px 3px;
  justify-content: stretch;
  margin: 1rem 0rem;
}

li.tertiary-article-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  flex: 1 0 1px;
  width: 1;
  text-align: left;
  background-color: var(--clr-lightest);
  padding: 1rem;
}

li.tertiary-article-card img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
}

li.tertiary-article-card h3 {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}

li.tertiary-article-card h2 {
  font-size: var(--size-lg);
  text-align: center;
}

li.tertiary-article-card .accent,
li.tertiary-article-card .accent-2,
li.tertiary-article-card .accent-3 {
  font-size: var(--size-xs);
}

/* `single article container */
.singleCard {
  padding: 0.5rem 0rem 1.5rem 0rem;
  background-color: var(--clr-overlay);
}

.singleCard-top {
  margin: 1rem 3rem 0rem 3rem;
}

.singleCard-top img {
  width: 76vw;
}

.singleCard-bottom {
  padding-top: 1rem;
  margin: 0 3rem;
  text-align: justify;
  font-family: "Work Sans", sans-serif;
}

#date {
  font-family: "Work Sans", sans-serif;
  font-weight: regular;
  color: #595959;
}

.singleCard-top .interactions {
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: default;
}

.singleCard-top h2 {
  letter-spacing: -1px;
  margin: 0 auto;
  text-align: justify;
  cursor: pointer;
  font-size: var(--size-2xl);
  font-weight: 500;
  text-align-last: center;
}

.singleCard-top .article-information {
  justify-content: baseline;
}

.singleCard-top .accent,
.accent-2 {
  font-size: var(--size-base);
}

.singleCard-bottom p {
  text-align: left;
  font-size: var(--size-lg);
}
/* `comments article container */

.comments-container {
  padding: 1rem 0rem;
}

.comments {
  background-color: #ffffff75;
  padding: 1rem;
  font-size: var(--size-base);
  align-self: baseline;
  text-align: left;
}

.comments .accent {
  font-size: var(--size-base);
  font-weight: bold;
}

ul.container {
  padding: 0rem 1rem;
}

#body {
  margin-left: 1rem;
}

@media (min-width: 475px) {
  .container {
    max-width: 640px;
  }

  .secondary-article-card h2 {
    font-size: 1.3rem;
    text-align: center;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 768px;
  }

  .comments {
    font-size: 1rem;
  }

  ul.container {
    padding: 1rem 3rem;
  }

  .small-container {
    display: grid;
  }

  .tertiary-article-card img {
    width: 15rem;
    height: 10rem;
    object-fit: contain;
  }

  .tertiary-article-card h2 {
    text-align: center;
    padding: 0.5rem 0;
  }

  .singleCard {
    margin: 1rem 3rem 2rem 3rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  main.container {
    width: 90%;
  }

  .article-title {
    text-align: center;
    font-size: var(--size-2xl);
  }

  .singleCard {
    margin: 1rem rem;
  }

  .singleCard img {
    margin: 0 auto;
  }

  .singleCard {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
    width: 100%;
  }

  ul.container {
    padding: 1rem 5rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1536px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 2000px;
  }
}
